@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";

#q1 , #q2, #q3, #q4{
  position: absolute; left: 50%; top: 38%; transform: translateX(-50%);
  margin-top: 10px;
}
button {
  margin-bottom: 10px;
  float: left;
}
/* Temp oplossing */
.blob {
  visibility: hidden;
}
.thisOne{
  visibility: visible;
  position: absolute; left: 50%; top: 25%; transform: translateX(-50%);
}
main {
  min-height: 63vh;
  max-height: 185vh;
}
.card {
  margin: 10px;
}
#card1 .card-front {
  background-image:url(foto/foto1.png);
}
#card2 .card-front {
  background-image:url(foto/foto2.png);
}
#card3 .card-front {
  background-image:url(foto/foto3.png);
}
#card4 .card-front {
  background-image:url(foto/foto4.png);
}
